body {
    min-height: 100vh;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

h1 {
    color: #ce93d8;
}

.header-logo {
    width: 5rem;
}

nav {
    background-color: #bdbdbd !important;
}

footer {
    background-color: #bdbdbd !important;
}